
/* Общие стили для всех страниц */

/* Фон */
body {
    background-color: #F5E1F9; /* Розово-фиолетовый фон */
}

/* Меню сайта */
ul {
    list-style-type: none; /* Убираем маркеры списка */
}

ul li a {
    color: #990099; /* Темно-фиолетовый цвет текста ссылок меню */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Насыщенность шрифта */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}
/* Общие стили для всех страниц */

/* Фон */
body {
    background-color: rgb(230, 200, 220); /* Розово-фиолетовый фон */
}

/* Меню сайта */
ul {
    list-style-type: none; /* Убираем маркеры списка */
}

ul li a {
    color: #990099; /* Темно-фиолетовый цвет текста ссылок меню */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Насыщенность шрифта */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

/* Страница "Каталог" */

/* Заголовок */
h2 {
    color: black; /* Цвет текста заголовка */
    font-size: 18px; /* Размер шрифта */
    font-weight: 400; /* Насыщенность шрифта */
    background-color: rgb(250, 200, 230); /* Розовый фон заголовка */
}

/* Краткое описание товара */
.product-description {
    color: rgb(150, 50, 120); /* Розовый цвет текста краткого описания товара */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Начертание шрифта */
    line-height: 20px; /* Высота текста */
}


/* Список характеристик товара */
.characteristics-list {
    list-style-image: url('custom_marker.png'); /* Произвольное изображение в качестве маркера */
    /* Дополнительные стили для списка характеристик товара */
    margin-left: 20px; /* Отступ слева для списка характеристик */
}

/* Стили для отдельного элемента списка характеристик */
.characteristics-list li {
    color: rgb(80, 80, 80); /* Серый цвет текста */
    font-size: 14px; /* Размер шрифта */
    margin-bottom: 5px; /* Отступ снизу между элементами списка */
}
